@import url(../icons/less/icon.css);
@import url(../icons/more/icon.css);
@font-face {
    font-family: 'commisioner';
    src: url(../fonts/Lexend/Lexend-VariableFont_wght.woff2);
    font-style: normal;
}
:root, [data-color-theme = "blue"]{
    --primary-color: #17597c;
    --secondary-color: #b4d0e0;
    --tertiary-color: #9e7323;
    --background-color: hsl(from var(--secondary-color) h s l / 0.25);
}
[data-color-theme="purple"] {
    --primary-color: #61457d;
    --secondary-color: #d1bede;
    --tertiary-color: #707f57;
    --background-color: hsl(from var(--secondary-color) h s calc(l + 0) / 0.25);
}
[data-color-theme="pink"] {
    --primary-color: #a94664;
    --secondary-color: #efbbd2;
    --tertiary-color: #304061;
    --background-color: hsl(from var(--secondary-color) h s l / 0.35);
}
:root {
    --main-color: var(--primary-color);
    --second-main-color: var(--secondary-color);
    --accent-color: var(--tertiary-color);
    --pale-second-main-color: hsl(from var(--second-main-color) h s calc(l + 14));
    --pale-accent-color: hsl(from var(--accent-color) h s calc(l + 40));
    --pale-main-color: hsl(from var(--main-color) h s calc(l + 40));
    --bg-color: var(--background-color);
    --rounding: 0.25rem;
    --space: 10px;
    
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'commisioner';
    font-size: 16px;
}
body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100dvh;
    background-color: var(--bg-color);
    overflow: hidden;
}
nav{
    background-color: #fff;
    height: 3rem;
    padding-left: 0.5rem;
    display: flex;
    align-items: center;

    > *{
        display: flex;
        align-items: center;
    }
    h1{
        font-size: 2rem;
    }
    i{
        color: var(--main-color);
        font-size: 1.5rem;
    }
    .name-and-logo{
        color: var(--accent-color);
        gap: calc(var(--space)/2);
    }
    .navlinks{
        list-style-type: none;
        margin-left: auto;
        height: 100%;

        li{
            /* padding: 0.75rem 1rem; */
            height: 100%;
            aspect-ratio: 1 / 1;
            display: flex;
            align-items: center;
            justify-content: center;
            &.active{
                background-color: var(--second-main-color);
                i {
                    color: white;
                }
            }
            &:hover:not(.active){
                background-color: var(--pale-accent-color);
                i{
                    color: white;
                }
            }
        }
        
    }
}

.main{
    display: flex;
    gap: var(--space);
    flex: 1;
    color: var(--grey);
    padding: var(--space);
    overflow: hidden;
    
    .calendar-container{
        width: 65%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap: var(--space);
        overflow: hidden;

        &> *{
            background-color: #fff;
            width: 100%;
        }
        .month-year, table.calendar{
            border-radius: var(--rounding);
        }
        .month-year{
            display: flex;
            align-items: center;
            height: 2.5rem;
            color: var(--main-color);
            padding: 0.75rem;
            i.pencil2{
                padding-right: 5px;
                display: none;
            }
            h2{
                font-weight: 600;
            }
            i.unfold_more{
                margin-left: auto;           
            }
            button{
                background-color: var(--second-main-color); 
                color: #fff;
                font-size: 12px;
                padding: 5px;
                border: none;
                border-radius: var(--rounding);
                display: none;

                &:focus{
                    outline: none;
                }
                &:hover {
                    background-color: var(--accent-color);
                }
            }
        }
        .table-container{
            overflow: hidden;
            border-radius: var(--rounding);
            scrollbar-width: none;

        }       
    }
    .calendar-tools{
        flex: 1;
        background-color: blue;
        display: flex;
        flex-direction: column;
        gap: var(--space);

        & > * {
            background-color: #fff;
            border-radius: var(--rounding);
            width: 100%;
            height: 50%;
        }
    }
}
/* (min-width: 1000px) and (max-height: 544px) */
@media (min-width: 1300px){
    /* :root {
        --space: 8.5px;
    } */
    
    body {
        background-color: rgb(144, 153, 51);
    }
    nav{
        height: 4.2rem; 
        i{
            font-size: 2rem;
        }
        h1{
            font-size: 2.5rem;
        }
    }
    .main{
        .calendar-container{
            width: 75%;
        }
    }
}
@media (max-width: 990px) {
    :root {
        --space: 8.5px;
    }
    body {
        background-color: rebeccapurple;
    }
} 
@media (max-width: 768px){
    :root {
        --space: 7.5px;
    }
    body {
        background-color: green;
    }
    nav{
        height: 2.45rem;
        padding: 0px;
        .navlinks, .name-and-logo{
            transform: scale(0.8);
        }
    }
}
@media (max-width: 550px) /*or (max-aspect-ratio: 4/3)*/{
    :root{
        --space: 5px;
    }
    body {
        background-color: pink;
    }
    .main{
        flex-direction: column;
        margin-bottom: 2.45rem;
        position: relative;

        .calendar-container{
            min-height: 55dvh;
            width: 100%;
            gap: 0px;

            .month-year {
                border-radius: var(--rounding) var(--rounding) 0 0;
        
                h2 {
                    font-weight: 600;
                }
                i.pencil2 {
                    display: initial;
                    color: var(--accent-color);
                }
            }
            .table-container{
                border-radius: 0 0 var(--rounding) var(--rounding);
                height: 100%;
                overflow: visible;
                table.calendar{
                    height: 100%;
                    border-radius: 0 0 var(--rounding) var(--rounding);
                }
            }
        }
        .calendar-tools{
            flex-direction: row;
            margin-top: auto;

            &>* {
                width: 50%;
                height: 100%;
            }
        }
    }
    nav{
        position: fixed;
        bottom: 0;
        width: 100%;
        justify-content: center;
        .name-and-logo{
            display: none;
        }
        .navlinks{
            margin: 0;

            li{
                border-radius: 5px;
                margin: 0 10px;
                height: 2.2rem;
                width: 2.2rem;
            }
        }
    }
}
@media (max-width: 420px) {
    body{
        background-color: orange;
        
    }
    .calendar-container {
        .month-year {  
            button.add-event { display: initial;}
        }
    }
    .calendar-tools{
        .upcoming-events{
            width: 100%;
        }
        .add-event-container{
            display: none;
        }
    }
    
}

